@import url('https://fonts.googleapis.com/css?family=Raleway');

*{
    margin: 0;
    padding: 0;
    font-family: Raleway;
}

body {
    margin: 0;
    padding: 0;
  }

  header{
     background: linear-gradient(90deg,#e52e71,#ff8a00);
  }

  main{
    padding-top: 15px;
    background: #17141d;
    color: aliceblue;
  }

  h1{
    margin-top: 10px;
    text-align: center;
    font-size: 2rem;
    background-image: linear-gradient(90deg,#e52e71,#ff8a00);
    border-radius: 25px;
    color: #17141d;
  }

  h5{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
  }


  hr{
    border-radius: 25px;
    width: 70%;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.747);
  }
  
  .header-theme{
     background: linear-gradient(90deg,#e52e71,#ff8a00);
    content: "";
    width: 320px;
    height: 320px;
    background: #17141d;
    border-radius: 100% 100% 100% 100% / 100% 100% 100% 100%;
  }

  #bitmoji{
    height: 300px;
  }

  .logo{
    background: #17141d;
    min-height: 60px ;
    color: aliceblue;
    grid-column: 1/2;
    padding: 0;
    margin: 0;
  }


  .nav-items{
    background: #17141d;
    min-height: 60px ;
    color: aliceblue;
    grid-column: 2/3;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: end;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
  }


  
  .grid{
    display: grid;
    grid-template-columns: 0.5fr 0.8fr;
    grid-gap: 0px;
  }

  

  #hello{
    font-size: 2.5rem;
    font-weight: 1000;
  }

  #bcis{
    font-size: 2rem;
  }

  #john-logo{
    width: 150px;
    height: 80%;
    padding-top: 13px;
    padding-left: 12px;

  }

  #nav-list{
    display:flex;
    font-size: small;
  }

  .nav-line{
    margin: 4px;
    width: 30px;
    padding-top: 3px;
  }

  #about{
  }

  footer{
    padding-top: 15px;
    min-height: 75px;
    background-color: #0c0a0f;
    color: aliceblue;
  }

  .footer{
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .nav-list{
    display: none;
  }

  #classes-table{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  .hidden{
    font-size: 2rem;
    display: none;
  }


  @media only screen and (min-width: 768px) {

    .logo{
      min-height: 100px;
    }

    #john-logo{
      height: 90%;
      width: 270px;
    }

    .dropdown{
      display: none;
    }

    .nav-items{
      padding-top: 10px;
      justify-content:space-evenly;
      flex-direction: column;
    }

    .nav-list{
      text-align: center;
      display: flex;
      flex-direction: row;
      list-style-type: none;
      justify-content: space-around;

    }

    .item{
      padding: 1rem;
    }

    .current-page{
      color: rgb(150, 165, 178);
    }


    .item:hover{
      background-color: #0c0a0f;
      border-radius: 25px;
    }

    .link{
      text-decoration: none;
      color: aliceblue;
    }

    .link:hover{
      color: aliceblue;
      background-color: #0c0a0f;
      border-radius: 25px;
    }

    .vert-center{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .padded-content{
      padding-top: 30px;
      padding-bottom: 30px;
    }

    p{
      font-size: 1.2rem;
    }

    table{
      font-size: 1.2rem;
    }

    .page-list{
      font-size: 1.3rem;
    }

  }

  @media only screen and (min-width: 992px){

    .desktop-view{
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .center-head{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .center-head-2{
      display:flex;
      flex-direction: column;
      justify-self: flex-start;
    }

    .hidden-2{
      display:none;
    }

    .hidden{
      display: flex;
    }

    .padded-content{
      padding-top: 50px;
      padding-bottom: 50px;
    }

    p{
      font-size: 1.4rem;
    }

    table{
      font-size: 1.4rem;
    }

    .page-list{
      font-size: 1.5rem;
    }

    h5 b{
      font-size: 1.5rem;
    }

    .hidden-3{
      display:none;
    }

  }

  @media only screen and (min-width: 1200px){
    .hide{
      display: none;
    }


  }
                       